
body{
	background-color:rgb(150,150,150);
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;

}


header{
	background-color: yellow;
	width: 100%;
	height: 150px;
	
}


form{
	background-color:white;
	width:1000px;
	text-align:center;
}

table,th,td{
	background-color:white;
	width:1000px;
	text-align:center;
	border:solide;

}